*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
   
}
.warning{
    height: 40px;
    width: 250px;
    position: fixed;
    right: 0;
    top: 20%;
    background-color: #111110;
    font-size: 1.1rem;
    color:#e4caaf ;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}
